html{
  font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px**/
}

body{
  background-color: #6C7279;
  margin: 0;
  font-size: 1.6rem;
}

header{
  /*background: url("../img/fondo.png");*/
  background-image:url('../img/fondo.png');
  background-size: cover;
  min-height: 40rem;
  color: white;
  margin: 0 auto 0 auto;
}

.Menu{
  padding: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.Menu h1{
  font-family: fantasy;
  font-size: 4.2rem;
  color: #FA4848;
}

.botones{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.botones a{
  width: 40rem;;
  margin-right: 3rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.botones a:last-of-type{
  margin-right: 0;
}

.botones a:hover{
  color:  #FA4848;
}

.txt-encabezado{
  margin: 0 7rem 0 7rem;
  display: flex;
  justify-content: center;
  background-color: rgba(5, 122, 24, 0.5);
}

header p{
  width: 30rem;
  text-align: justify;
  font-size: 1.6rem;
  font-family: arial;
}
/* Seccion de contenido*/

.contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido h3{
  color: #F8FF11;
}

.info{
  display: flex;
  justify-content: center;
}

.art{
  flex-basis: 40rem;
  text-align: justify;
  padding: 0 2rem 0 2rem;
}

/** Definimos el tamaño para las imagenes**/

.icono{
  width: 10rem;
  height: 5rem;
}

footer{
  width: 100%;
  font-size: 1.25rem;
  font-family: fantasy;
  text-align: center;
}
