/* Configuracion para todas las ventanas*/
*{box-sizing:border-box;}

html{
  font-size: 62.5%; /** Para REMS - 62.5% = 10px de 16px**/
}

body{
  background-color: #6C7279;
  margin: 0;
  font-size: 1.6rem;
  height: 100vh;
}

/* INDEX*/

.index{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editar{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  margin-left: 4rem;
}

.form form{
  text-align: center;
	width: 30rem;
	padding: 1.6rem;
	border-radius: 1rem;
	background-color: #ccc;
  margin-bottom: 2rem;
}

.cajas input{
  margin-bottom: 1.5rem;
  width: 18rem;
	padding: .3rem 1rem;
	border: .1rem solid #f6f6f6;
	border-radius: .3rem;
	background-color: #f6f6f6;
	display: inline-block;
}

.buscar{
  text-align: center;
	width: 30rem;
	padding: 1.6rem;
	border-radius:1rem;
	margin:auto;
	background-color: #ccc;
}

.buscar input{
  margin-bottom: 1.5rem;
  width: 18rem;
	padding: .3rem 1rem;
	border: .1rem solid #f6f6f6;
	border-radius: .3rem;
	background-color: #f6f6f6;
	display: inline-block;
}


.boton{
  margin-left: 1rem;
  width:calc(100% / 2 - 1rem);
	padding: .8rem 1.6rem;
	margin-top:1.3rem;
	border: .1rem solid #000;
	border-radius: .5rem;
	color:#fff;
	background-color:#000;
}

.tabla-contactos{
  text-align: center;
  border-radius:1rem;
	margin:auto;
	background-color: #ccc;
  padding: 3rem;
}

.tabla-contactos table{
  border: #292929 .5rem solid;
}

td{
  min-width: 20rem;
  font-size: 2rem;
  font-family: monospace;
  padding: 1rem;
  border-radius: .5rem;
  border: #6C7279 .2rem solid;
}

thead td{
  font-family: fantasy;
}

.boton-t{
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  border-radius: .9rem;
  background-color: #000;
}
