<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Programas en Love2d</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>

    <header>
      <nav class="Menu">
        <div class="encabezado">
          <h1>Love2D</h1>
        </div>
        <div class="botones">
          <a href="/">inicio</a>
          <a href="/acercade">Acerca de...</a>
          <a href="#">Galeria</a>
        </div>
      </nav>

      <div class="txt-encabezado">
        <p>Hola! a lo largo de mi carrera como programador he creado varios
        proyectos utilizando este framework y la verdad es que es mas de lo que esperaba.
        Podras crear juegos 2d para las plataformas Linuz, Windwows, MacOS, Android y iOS.</p>
      </div>
    </header>

    <section class="contenido">
      <h3>Descarga mis proyecto de Love2d</h3>

      <div class="info">
        <article class="art">
          <h4>Metal Slug</h4>
          <img class="icono" src="img/logo1.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>

        <article class="art">
          <h4>Space Nave</h4>
          <img class="icono" src="img/logo2.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div>
    </section>


    <footer><p>Todos los derechos reservados &copy; 2020</p></footer>
  </body>
</html>
