<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Agenda WEB</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script type="text/javascript">
      function buscar(){
        if (document.getElementById("bus")) {
          var dato_cuadro_texto = document.getElementById('bus').value;
          if (document.getElementsByClassName("nombres")){
            var nombres = document.getElementsByClassName("nombres");
            var fila = document.getElementsByClassName("datos");

            for (var i = 0; i < nombres.length; i++) {
              var nombre = nombres[i].innerText;
              if (!String(nombre).startsWith(String(dato_cuadro_texto))){
                fila[i].style.display = 'none';
              }else{
                fila[i].style.display = '';
              }
            }
          }
        }
      }

      function conf(evt){
        if (!confirm("¿Estas seguro de eliminarlo?")) {
          evt.preventDefault();
      	}
      }
    </script>
  </head>
  <body class="index">
    <div class="form">
      {% with msg = get_flashed_messages() %}
      {% if msg %}
      {% for ms in msg %}
      <p>{{ms}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <form action="/add_contact" method="POST">
        <div class="titulo">
          <h2>Agrega un nuevo contacto</h2>
        </div>

        <div class="cajas">
          <input type="text" name="nombre" value="" placeholder="Nombre completo">
          <input type="text" name="telefono" value="" placeholder="Telefono">
          <input type="text" name="correo" value="" placeholder="Correo">
        </div>

        <div class="botones">
          <input class="boton" type="submit" name="" value="Guardar">
          <input class="boton" type="reset" name="" value="Limpiar">
        </div>
      </form>

      <div class="buscar">
        <input type="text" name="buscar" id="bus" onkeyup="buscar()" placeholder="Buscar nombre...">
      </div>
    </div>


    <div id="tabla" class="tabla-contactos">
      <table>
        <thead><h2>Contactos</h2>
          <tr>
            <td>Nombre</td>
            <td>Telefono</td>
            <td>Correo</td>
          </tr>
        </thead>
        <tbody id="cont">
          {% for contacto in contactos %}
          <tr id="{{contacto.0}}" class="datos">
            <td id='nombre' class="nombres">{{contacto.1}}</td>
            <td>{{contacto.2}}</td>
            <td>{{contacto.3}}</td>
            <td><a class="boton-t" href="/edit/{{contacto.0}}">Editar</a></td>
            <td><a class="boton-t" id="eli" onclick="conf(event)" href="/delete/{{contacto.0}}">Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
